<!DOCTYPE html>
<html <head>
		    <meta charset="UTF-8" />
		        <link
				      rel="stylesheet"
				            type="text/css"
					          href="../static/styles/4-common.css?{{ cache_id }}"
						      />
			    <link
				          rel="stylesheet"
					        type="text/css"
						      href="../static/styles/3-header.cass="placesh1"><h1>Places</h1></div>
							          <section class="places">
										          <!-- <h1>Places</h1> -->
											        </section>
												    </div>
												        <footer>
													      <p>Holberton School</p>
													          </footer>
														    </body>
</html>
